*  {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Lilita One', cursive;
    font-size: 16px;
    background-color: #1b2130;
}

.contenedor {
    width: 90%;
    margin: auto;
    padding: 2em 0em;
}

.mensaje {
    width: 100%;
    font-size: 0.75em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
    color: white;
}

.cartas-contenedor {
    width:100%;
    max-width: 400px;
    margin: auto;
    padding: 1em;
    background-color: #00000021;
    border-radius: 9px;
}

@media (max-width: 575px) {

    .cartas-contenedor {
        transform: scale(0.9);
    }
}